.container-fluid {
  height: 100vh;
}

@media screen and (max-width: 576px) {
  #game-container {
    border-radius: 50px;
  }

   .tiles {
     width: 20%;
     height: 20%;
     border-radius: 7rem;
   }
 }

#game-container {
	  border-radius: 50px;
    height: 60%;
    width: 75%;
    background-color: #0a151f;
    margin: 0 auto;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#controls {
  margin: 3rem auto 0 auto;
}

#headline {
  margin: 1rem auto;
}

.tiles {
  width: 22%;
  height: 16.5%;
	background: red;
	border-radius: 10rem;
}

#green {
  position: absolute;
  top: 20%;
  left: 20%;
  background-color: green;
  border: solid 1.5px black;
}

#red {
  position: absolute;
  top: 20%;
  right: 20%;
  background-color: red;
  border: solid 1.5px black;
}

#yellow {
  position: absolute;
  bottom: 20%;
  left: 20%;
  background-color: yellow;
  border: solid 1.5px black;
}

#blue {
  position: absolute;
  bottom: 20%;
  right: 20%;
  background-color: blue;
  border: solid 1.5px black;
}
