.container-fluid {
  height: 77.3vh;
}

#title {
  margin-top: 1.8rem;
}

@media screen and (min-width: 450px) {
  #game-container {
    max-width: 300px;
    max-height: 390px;
  }

   .tiles {
     width: 20%;
     height: 20%;
     border-radius: 7rem;
     max-width: 100px;
     max-height: 100px;
   }
 }

#game-container {
	  border-radius: 50px;
    height: 17rem;
    width: 17rem;
    background-color: #0a151f;
    margin: 0 auto;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#controls {
  margin: 3rem auto 0 auto;
}

#headline {
  margin: 1rem auto;
}

.tiles {
  width: 23%;
  height: 20%;
  max-width: 62px;
  max-height: 60px;
	background: red;
	border-radius: 10rem;
}

#green {
  position: absolute;
  top: 20%;
  left: 15%;
  background-color: green;
  border: solid 1.5px black;
}

#red {
  position: absolute;
  top: 20%;
  right: 15%;
  background-color: red;
  border: solid 1.5px black;
}

#yellow {
  position: absolute;
  bottom: 20%;
  left: 15%;
  background-color: yellow;
  border: solid 1.5px black;
}

#blue {
  position: absolute;
  bottom: 20%;
  right: 15%;
  background-color: blue;
  border: solid 1.5px black;
}
